/* -------Css for inputs------- */
.start{
    margin-left: 100px;
    margin-right: 100px;
}

/* -------Css for heading------- */
h3{
    margin-left: 40%;
}

/* -------Css for button------- */
button{
    margin-left: 20%;
}
